.fade.in {
  opacity: 1;
}
.stick-to-bottom {
  position: absolute;
  bottom: 0;
}
.border-3 {
    border-width:3px !important;
}
.pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.chat-window {
  max-height: 500px;
  overflow-y: scroll;
  margin-bottom: 100px;
}
.mh-75 {
  min-height:75%;
}
